.App > div:last-child {
    margin-left: 230px;
    padding: 15px;
}

.App > div:last-child > div:first-child {
    width: 100%;
    color: red;
}

.App > div:first-child {
    width: 200px;
    padding: 15px;
    background-color: #37393a;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    color: #e8eef2;
}

.App > div:first-child > div {
    margin: 10px;
    font-size:14px;
}

input {
    border: none;
    margin: 3px;
    border-radius: 3px;
    padding: 2px;
    font-size:14px;
    background-color: #e8eef2;
}

.number {
    max-width: 3em;
    text-align: right;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #d6c9c9;
    padding: 10px;
    margin: 3px;
}

button:hover {
    background-color: #c3b7b7;
}
